* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font: 700 20px 'K2D', 'sans-serif'; */
}

.sp{
  font: 400 40px 'K2D', 'sans-serif';

}
.entry {
  color: #ffc600;
}
span {
  color: #ff4320;
}

.wrapper {
  margin: 100px auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  height: 700px;
  width: 600px;
  background-color: #222222;
  border: 20px solid #828282;
  border-radius: 50px;
}

.green {
/*   height: 450px; */
/*   width: 450px; */
  border: 20px solid rgba(0, 214, 116);
  box-sizing: content-box;
  border-radius: 50%;
  margin-bottom: 100px;
}

.violet{
/*   height: 450px;
  width: 450px; */
  border: 20px solid rgba(114, 85, 238);
  border-radius: 50%;
}

.blue{
height: 350px;
width: 350px;
  border: 20px solid rgba(47, 150, 253);
  /* rgba(47, 150, 253, 0.3) */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .line{
      width: 10px;
      height: 10px;
      background-color: chartreuse;
      border-radius: 10px;
  } */
/* .green {
      background-color: aliceblue;
    background: rgba(0, 214, 116, 0.3);
    transform: rotate(-5.56deg);
  } */
.time {
  margin-left: auto;
  margin-right: 55px;
}
p {
  width: 100px;
  height: 50px;
  font: 500 30px 'K2D', 'sans-serif';
  font-style: normal;
  line-height: 39px;
  letter-spacing: 2px;
  color: #FFFF;
}
